<div class="row my-4">
    <div class="col-md-6">
        <h3>List of Tasks</h3>
    </div>
    <div class="col-md-6 text-right">
        <button (click)="showForm = !showForm" class="btn btn-dark btn-sm pull-right">
            <i class="fa fa-plus"></i> New Task
        </button>
    </div>
</div>
<div class="row">
    <input (keyup)="searchTasks()" [(ngModel)]="searchText" placeholder="Search..." type="text" class="form-control col-md-6 mx-auto">

    <div class="col-md-6 mx-auto" *ngIf="showForm">
        <div class="form-group">
            <label for="label"></label>
            <input [(ngModel)]="myTask.label" id="label" type="text" class="form-control">
        </div>
        <div class="form-check my-2">
            <label class="form-check-label">
                <input [(ngModel)]="myTask.completed" type="checkbox" class="form-check-input">
                Completed
            </label>
        </div>

        <button *ngIf="editForm"  (click)="updateTask()" class="btn btn-warning col-12">
            <i class="fa fa-refresh"></i> Update Task
        </button>
        <button *ngIf="!editForm" (click)="persistTask()" class="btn btn-success col-12">
            <i class="fa fa-send"></i> New Task
        </button>


    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto py-4">
        <ul class="list-group">
            <li *ngFor="let task of resultTasks" class="list-group-item d-flex justify-content-between aligned">
                
                <button (click)="editTask(task)" class="btn btn-warning btn-sm">
                        <i class="fa fa-pencil">
                    </i>
                </button>
                {{task.label}}
                <span (click)="toggleCompleted(task)"[ngClass]="{
                    'bg-info': task.completed,
                    'bg-danger': !task.completed
                }" class="badge rounded-pill bg-danger">
                    <i class="fa" [ngClass]="{
                        'fa-thumbs-up':  task.completed,
                        'fa-thumbs-down': !task.completed
                    }"></i>
                </span>

                <button (click)="deleteTask(task.id)" class="btn btn-sm btn-dark">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
